<section class="wrap">
  <h1>Scegli difficoltà</h1>

  <!-- Testo al posto dell'input -->
  <div class="name-hint">Sfida chi vuoi {{ playerName }}</div>

  <div class="grid">
    <button class="card easy"    (click)="select('easy')">
      <div class="emoji">🙂</div><div class="t1">Facile</div><div class="t2">tollerante</div>
    </button>
    <button class="card medium"  (click)="select('medium')">
      <div class="emoji">😐</div><div class="t1">Medio</div><div class="t2">bilanciata</div>
    </button>
    <button class="card hard"    (click)="select('hard')">
      <div class="emoji">😬</div><div class="t1">Difficile</div><div class="t2">poche chances</div>
    </button>
    <button class="card extreme" (click)="select('extreme')">
      <div class="emoji">🔥</div><div class="t1">Estremo</div><div class="t2">spietata</div>
    </button>
  </div>
</section>
