<section class="wrap">
  <h1>Scegli difficoltà</h1>

  <!-- Nome giocatore -->
  <div class="name-box">
    <label for="playerName">Il tuo nome:</label>
    <input id="playerName" type="text" [(ngModel)]="name" placeholder="Inserisci nome" />
  </div>

  <div class="grid">
    <button class="card easy"    (click)="select('easy')">
      <div class="emoji">🙂</div><div class="t1">Facile</div><div class="t2">tollerante</div>
    </button>
    <button class="card medium"  (click)="select('medium')">
      <div class="emoji">😐</div><div class="t1">Medio</div><div class="t2">bilanciata</div>
    </button>
    <button class="card hard"    (click)="select('hard')">
      <div class="emoji">😬</div><div class="t1">Difficile</div><div class="t2">poche chances</div>
    </button>
    <button class="card extreme" (click)="select('extreme')">
      <div class="emoji">🔥</div><div class="t1">Estremo</div><div class="t2">spietata</div>
    </button>
  </div>
  <div class="actions top">
    <button class="btn back" (click)="back()">← Indietro</button>
  </div>
</section>
